@font-face {
    font-family: "Posten"; /*a name to be used later*/
    src: url("./Resources/Fonts/PoetsenOne-Regular.otf"); /*URL to font*/
}

body {
    background-color: #00c196;
    /* background-image: url("./Resources/Assets/vriska.png"); */
}

.body2 {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 193, 150, 0.5),
        rgba(06, 193, 150, 1)
    );
}

h1 {
    color: blue;
}

.infoboxcenterfkery {
    display: flex;
    justify-content: center;
    margin-left: 0rem;
}

.infobox {
    position: relative;
    margin-top: 3rem;
    margin-bottom: 1rem;
    background-color: #eaad61;
    display: flex;
    flex-direction: row;
    /* padding-right: -1rem; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    width: 77%;
    gap: 50px;
    outline-style: solid;
    outline-color: black;
    outline-width: 0.2rem;
}

.infobox .about {
    background-color: white;
    border-radius: 25px;
    padding-bottom: 1rem;
    margin-inline-start: 320px;
    margin-top: 1rem;
    outline-style: solid;
    outline-color: black;
    outline-width: 0.2rem;
    flex: 1;
    width: 100%;
}

.infobox img {
    width: 302px;
    position: absolute;
    align-self: end;
    transform: translateX(2em);
}

.infobox h2 {
    padding-top: 1.2rem;
    color: #de6e4b;
    padding-left: 2rem;
    font-family: Posten;
}

.infobox p {
    font-size: 1rem;
    padding-left: 2rem;
}

.galleryBox {
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: #eaad61;
    display: flex;
    flex-direction: row;
    /* padding-right: -1rem; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    width: 77%;
    gap: 50px;
    outline-style: solid;
    outline-color: black;
    outline-width: 0.2rem;
}

.HomeBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: 045490;
    background-image: url("./Resources/Assets/background.png");
    background-attachment: fixed;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 50px;
    outline-style: solid;
    outline-color: black;
    outline-width: 0.2rem;

    /* margin: auto; */
    /* width: 50%; */
    /* padding: 10px; */
}

.HomeBar iframe {
    border-radius: 12px;
    background-color: black;
    width: 576px;
    height: 324px;
    margin-top: 2%;
    margin-bottom: 2%;
    outline-style: solid;
    outline-color: black;
    outline-width: 0.2rem;
}

@media (max-width: 755px) {
    .navbarSticky img {
        display: none;
    }
}

@media (max-width: 1094px) {
	.image-outside-top-right-4 {
		/* cop */
		right: -100% !important;
		left: 76% !important;
	}
	
	.image-outside-top-right-2 {
		/* shameful */
		left: -60px !important;
	}

}

@media (max-width: 1180px) {
    /*vertical layout*/
    .HomeBar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        padding-inline: 1rem;
    }

    .HomeLogoColumn {
        padding-top: 4rem !important;
        padding-bottom: 0rem !important;
        max-width: 100%;
    }

    .HomeBar iframe {
        height: unset;
        max-width: 100%;
        aspect-ratio: 16/9;
    }

    .infobox {
        flex-direction: column-reverse;
    }

    .infobox img {
        position: absolute;
        align-self: center;
        transform: translateX(0);
    }

    .infobox .about {
        flex-grow: 1;
        margin-inline-start: 0;
        padding-block-end: 40px;
        margin-block-end: 220px;
    }
	
	
	
}

@media (max-width: 1284px) {
    /*nathan art doesnt become bottomless*/

    .infobox img {
        margin-top: 0rem !important;
    }
	
	.image-outside-top-right-3 {
    /* enemies */
    z-index: 4;
    right: -60px !important;
    width: 30% !important;
    top: -0% !important;
	}
}

.HomeLogoColumn {
    display: flex;
    flex-direction: column;
    justify-content: end;

    padding-bottom: 3rem;
    padding-top: 0;
}

.HomeLogoColumn p {
    color: white;
    font-family: Posten;

    font-size: 1.6rem;
    text-shadow:
        -0.2rem -0.2rem 0 #005583,
        0 -0.2rem 0 #005583,
        0.2rem -0.2rem 0 #005583,
        0.2rem 0 0 #005583,
        0.2rem 0.2rem 0 #005583,
        0 0.2rem 0 #005583,
        -0.2rem 0.2rem 0 #005583,
        -0.2rem 0 0 #005583;
    -webkit-text-stroke: 1px white;

    /* outline-style: solid;  */
    /* outline-color: #005583;  */
    /* outline-width: 0.2rem;  */
}

.HomeLogoColumn img {
    width: 505px;
    max-width: 100%;
    image-rendering: pixelated;
    padding-bottom: 0.5rem;
}

.navbar {
    background-color: #005583;
    z-index: 1000;
    /* outline-style: solid; */
    /* outline-color: black; */
    /* outline-width: 4px; */
}

.navbarSticky {
    background-color: #005583;
    z-index: 999;
    position: fixed;

    width: 100%;
    top: -100%;

    transition: top 1s ease-in-out;
}

.navbarSticky img {
    display: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 90%;
}

.navbarSticky.visible {
    top: 0;
}

.galleryGrid {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 60rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.screenshot {
    image-rendering: pixelated;

    width: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.screenshot img {
    outline-style: solid;
    outline-color: black;
    outline-width: 0.2rem;
    width: 100%;
    height: auto;
    display: block;
}

.screenshot:hover {
    transform: scale(1.05);
}

.fadein {
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.delay0 {
    animation:
        nothing,
        fadeInAnimation 0.5s;
    animation-delay: 0s, 0s;
}

.delay1 {
    animation:
        nothing 0.5s,
        fadeInAnimation 0.5;
    animation-delay: 0s, 0.5s;
}

.delay2 {
    animation:
        nothing 1s,
        fadeInAnimation 0.5;
    animation-delay: 0s, 1s;
}

@media (prefers-reduced-motion) {
    .fadein {
        animation-fill-mode: none;
    }
}

@keyframes nothing {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        transform: translateY(0.6rem);
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(0.6rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ABOUT */

.aboutContainer {
    padding-inline: 20px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    max-width: 70rem;
    justify-content: center;
    gap: 40px;
}

.aboutColumn {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 1rem;
}

.row {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.aboutbox {
    z-index: 2;
    background-color: #eaad61;
    flex-grow: 1;
    position: relative;
    margin: 10px;

    box-sizing: border-box;

    /* padding-right: -1rem; */
    border-radius: 25px;

    outline-style: solid;
    outline-color: black;
    outline-width: 0.2rem;
}

.longaboutbox {
    z-index: 2;
    flex: 1;
    background-color: #eaad61;
    position: relative;
    margin: 10px;
    padding-left: 0.8rem;
    padding-right: 0.8rem;

    box-sizing: border-box;

    /* padding-right: -1rem; */
    border-radius: 25px;

    outline-style: solid;
    outline-color: black;
    outline-width: 0.2rem;
}

.aboutbox h2,
.longaboutbox h2 {
    z-index: 3;
    padding-top: 2rem;
    color: black;
    font-family: Posten;
    font-size: 1.8rem;
}

.content {
    position: relative;

    z-index: 2;

    background-color: white;
    border-radius: 25px;
    padding-bottom: 1rem;

    margin-top: 1rem;
    outline-style: solid;
    outline-color: black;
    outline-width: 0.2rem;
    flex: 1;
    width: 100%;
}

.content p {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-right: 2rem;
}

.logo,
.image-outside,
.image-top-left,
.image-top-center {
    position: absolute;
}

.logo {
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 404px;
    max-width: 100%;
    image-rendering: pixelated;
}

.image-outside-top-right,
.image-outside-top-right-2,
.image-outside-top-right-3 {
    top: -15%;
}

.image-outside-top-right {
    /* bodyguard */
    right: -20px;
    width: 250px;
    top: -0px;
    transform: translateY(calc(-100% + 100px));
}

.image-outside-top-right-2 {
    /* shameful */
    left: -10px;
    z-index: 1;
    top: -136px;
    width: 500px;
}

.image-outside-top-right-4 {
    /* cop */
	right: -6% !important;
    z-index: 1;
    top: -9%;
    width: 25%;
}

.image-outside-top-right-3 {
    /* enemies */
    z-index: 4;
    right: -110px;
    width: 40%;
    top: -4%;
}

.image-top-left {
    top: 10px;
    left: 10px;
}

.image-top-center {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#faq .content p {
    padding-bottom: 0rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
}

#box1 .content p {
    padding-bottom: 0rem;
}

#box3 .content .imgcontainer {
    padding: 1.5rem;
}

#box3 .content img {
    outline-style: solid;
    outline-color: black;
    outline-width: 0.2rem;

    width: 100%;
    image-rendering: pixelated;
}

#box3 .content p {
    padding-top: 0;
}

#box1 {
    z-index: 2;
    padding-bottom: 100px;
}

#box2 .container {
    float: left;
    width: 300px;
}
#box2 .container img {
    padding-top: 1.8rem;
    padding-left: 1rem;
}

/* CAST IMAGES */

.cast-grid {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 70rem;
    padding-top: 1rem;
}

.flip-container {
    perspective: 1000px;
    padding: 1rem;
}

.flipper {
    padding: 5px;
    display: flex;
    width: 168px;
    height: 200px;
    outline-style: solid;
    outline-color: black;
    outline-width: 0.2rem;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.6s;
}

.flipper:hover {
    cursor: pointer;
}

.flipper.flipped {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Safari */
}

.front img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.back {
    color: white;
    display: flex;
    justify-content: center;
    transform: rotateY(180deg);
    box-sizing: border-box;
}

.back p {
    /* position: relative; */
    padding-left: 1rem;
    padding-top: 0rem;
    padding-right: 0.8rem;
    /* top: -0.5rem; */
    line-height: 1.2rem;
    text-shadow: black 1px 0 5px;
}

.back h1 {
    padding-top: 0.5rem;
    padding-left: 1rem;
    color: white;
    font-size: 2rem;
    font-family: Posten;
    text-shadow: black 1px 0 10px;
}

#nate .back {
    background-image: url("./Resources/Assets/Portraits/portraitbg1.png");
}

#neil .back {
    max-width: 500px;
    background-image: url("./Resources/Assets/Portraits/portraitbg2.png");
}

#jenny .back {
    background-image: url("./Resources/Assets/Portraits/portraitbg3.png");
}

#darell .back {
    background-image: url("./Resources/Assets/Portraits/portraitbg4.png");
}

.neil {
    position: absolute;
    right: 0px;
    bottom: 0;
    width: max(200px, min(32%, 520px));
}

.footerText {
    position: absolute;
    width: 300px;
    right: max(50% - 150px, 200px);
}

@media (max-width: 800px) {
	
	
    .neil {
        margin: none;
        width: min(400px);
        position: absolute;
        right: unset;
        top: -210px;
		max-width: 350px;
    }

    .neilContainer {
        display: contents;
    }

    .footerText {
        position: unset;
    }

    main {
        padding-block-end: 200px;
    }

    footer {
        display: flex;
        height: unset !important;
        align-items: center;
        justify-items: end;
        flex-direction: column;
    }
	

	
	.aboutColumn {
		max-width: 300px !important;
	}
	
	.flipper {
		padding: 5px;
		display: flex;
		width: 134px;
		height: 159px;
		outline-style: solid;
		outline-color: black;
		outline-width: 0.2rem;
		position: relative;
		transform-style: preserve-3d;
		transition: 0.6s;
	}

	
	.longaboutbox {
		width: 100% !important;
	}
	
	.image-outside-top-right {
		/* bodyguard */
		right: -10px !important;
		width: 200px;
		top: -15px;
	}
	
	.image-outside-top-right-2 {
		/* shameful */
		left: -100px !important;
		z-index: 1;
		top: -123px;
		width: 400px;
	}

	.image-outside-top-right-4 {
		/* cop */
		right: -100% !important;
		left: 77% !important;
		z-index: 1;
		top: -3%;
		width: 24% !important;
	}

	.image-outside-top-right-3 {
		/* enemies */
		z-index: 4;
		right: -16px !important;
		width: 34% !important;
		top: -5% !important;
	}
		
		.aboutbox h2,
	.longaboutbox h2 {
		z-index: 3;
		padding-top: 2rem;
		color: black;
		font-family: Posten;
		font-size: 1.3rem;
	}

}

footer {
    z-index: 3;
    outline-style: solid;
    outline-color: black;
    outline-width: 0.2rem;
    width: 100%;
    height: 200px;
    background-color: #005583;
    padding: 2rem;

    bottom: 0;
    position: relative;
}

footer .nav-link {
    color: white;
}

footer .nav-link:hover {
    color: #06b896;
}

footer p {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0;
    padding-top: 1rem;
    color: white;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 720px;
    image-rendering: pixelated;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

a {
    color: #06bf96;
}
