@font-face {
    font-family: "Posten";
    /*a name to be used later*/
    src: url("./Resources/Fonts/PoetsenOne-Regular.otf");
    /*URL to font*/
}

body {
    background-color: #00c196;
    /* background-image: url("./Resources/Assets/vriska.png"); */
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: 1fr auto;
}

.body2 {
    background-image: linear-gradient(to bottom,
            rgba(0, 193, 150, 0.5),
            rgba(06, 193, 150, 1));
}

* {
    box-sizing: border-box;
}

h1 {
    color: blue;
}

.infoboxcenterfkery {
    display: flex;
    justify-content: center;
    margin-left: 0rem;
}

.infobox {
    position: relative;
    margin-top: 3rem;
    margin-bottom: 1rem;
    background-color: #eaad61;
    display: flex;
    flex-direction: row;
    /* padding-right: -1rem; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    width: 77%;
    gap: 50px;
    outline-style: solid;
    outline-color: black;
    outline-width: 0.2rem;
}

.infobox .about {
    background-color: #fcfaf8;
    border-radius: 25px;
    padding-bottom: 1rem;
    margin-inline-start: 320px;
    margin-top: 1rem;
    outline-style: solid;
    outline-color: black;
    outline-width: 0.2rem;
    flex: 1;
    width: 100%;
}

.info_about {
    background-color: #fcfaf8;
    border-radius: 25px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 4rem;
    outline-style: solid;
    outline-color: black;
    outline-width: 0.2rem;
    flex: 1;
    width: 100%;
}

.infobox img {
    width: 302px;
    position: absolute;
    align-self: end;
    transform: translateX(2em);
}

.infobox h2 {
    padding-top: 1.2rem;
    color: #de6e4b;
    padding-left: 2rem;
    font-family: Posten;
}

.infobox p {
    font-size: 1rem;
    padding-left: 2rem;
}

.information_boxes {
    width: 77%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    margin-left: 0rem;
    margin-top: -2rem;
    margin-top: -2rem;
}

.home_info_Box {
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: #eaad61;

    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    width: 50%;
    height: 35.7rem;

    outline-style: solid;
    outline-color: black;
    outline-width: 0.2rem;
}

.blogSection {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 29.2rem;
    overflow: hidden;
    overflow-y: auto;
    margin-left: 1rem;
    margin-right: 1rem;
}


.galleryBox {
    position: relative;
    margin-top: -3rem;
    display: flex;

    margin-left: auto;
    margin-right: auto;
    height: 33.2rem;
}


.HomeBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: 045490;
    background-image: url("./Resources/Assets/background.png");
    background-attachment: fixed;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 50px;
    outline-style: solid;
    outline-color: black;
    outline-width: 0.2rem;

    /* margin: auto; */
    /* width: 50%; */
    /* padding: 10px; */
}

.HomeBar iframe {
    border-radius: 12px;
    background-color: black;
    width: 576px;
    height: 324px;
    margin-top: 2%;
    margin-bottom: 2%;
    outline-style: solid;
    outline-color: black;
    outline-width: 0.2rem;
}

@media (max-width: 755px) {
    .navbarSticky img {
        display: none;
    }

    .information_boxes {
        width: unset;
        flex-direction: column;
        justify-content: center;
        gap: 0rem;
        margin-left: unset;
        margin-top: unset;
        padding-inline: 1rem;
    }

    .home_info_Box {
        width: unset;
    }
}

@media (max-width: 1094px) {
    .image-outside-top-right-4 {
        /* cop */
        right: -100% !important;
        left: 76% !important;
    }

    .image-outside-top-right-2 {
        /* shameful */
        left: -60px !important;
    }
}

@media (max-width: 1180px) {

    /*vertical layout*/
    .HomeBar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        padding-inline: 1rem;
    }

    .HomeLogoColumn {
        padding-top: 4rem !important;
        padding-bottom: 0rem !important;
        max-width: 100%;
    }

    .HomeBar iframe {
        height: unset;
        max-width: 100%;
        aspect-ratio: 16/9;
    }

    .infobox {
        flex-direction: column-reverse;
    }

    .infobox img {
        position: absolute;
        align-self: center;
        transform: translateX(0);
    }

    .infobox .about {
        flex-grow: 1;
        margin-inline-start: 0;
        padding-block-end: 40px;
        margin-block-end: 220px;
    }
}

@media (max-width: 1284px) {
    /*nathan art doesnt become bottomless*/

    .infobox img {
        margin-top: 0rem !important;
    }

    .image-outside-top-right-3 {
        /* enemies */
        z-index: 4;
        right: -60px !important;
        width: 30% !important;
        top: -0% !important;
    }
}

.HomeLogoColumn {
    display: flex;
    flex-direction: column;
    justify-content: end;

    padding-bottom: 3rem;
    padding-top: 0;
}

.HomeLogoColumn p {
    color: #fcfaf8;
    font-family: Posten;

    font-size: 1.6rem;
    text-shadow:
        -0.2rem -0.2rem 0 #005583,
        0 -0.2rem 0 #005583,
        0.2rem -0.2rem 0 #005583,
        0.2rem 0 0 #005583,
        0.2rem 0.2rem 0 #005583,
        0 0.2rem 0 #005583,
        -0.2rem 0.2rem 0 #005583,
        -0.2rem 0 0 #005583;
    -webkit-text-stroke: 1px #fcfaf8;

    /* outline-style: solid;  */
    /* outline-color: #005583;  */
    /* outline-width: 0.2rem;  */
}

.HomeLogoColumn img {
    width: 505px;
    max-width: 100%;
    image-rendering: pixelated;
    padding-bottom: 0.5rem;
}

.navbar {
    background-color: #005583;
    z-index: 1000;
    /* outline-style: solid; */
    /* outline-color: black; */
    /* outline-width: 4px; */
}

.navbarSticky {
    background-color: #005583;
    z-index: 999;
    position: fixed;

    width: 100%;
    top: -100%;

    transition: top 1s ease-in-out;
}

.navbarSticky img {
    display: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 90%;
}

.navbarSticky.visible {
    top: 0;
}

.galleryGrid {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 60rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 29.2rem;
    overflow: hidden;
    overflow-y: auto;
}

.screenshot {
    /* image-rendering: pixelated; */

    width: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.screenshot img {
    outline-style: solid;
    outline-color: black;
    outline-width: 0.2rem;
    width: 100%;
    height: auto;
    display: block;
}

.screenshot:hover {
    transform: scale(1.05);
}

.fadein {
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.delay0 {
    animation:
        nothing,
        fadeInAnimation 0.5s;
    animation-delay: 0s, 0s;
}

.delay1 {
    animation:
        nothing 0.5s,
        fadeInAnimation 0.5;
    animation-delay: 0s, 0.5s;
}

.delay2 {
    animation:
        nothing 1s,
        fadeInAnimation 0.5;
    animation-delay: 0s, 1s;
}

@media (prefers-reduced-motion) {
    .fadein {
        animation-fill-mode: none;
    }
}

@keyframes nothing {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
        transform: translateY(0.6rem);
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(0.6rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ABOUT */

.aboutContainer {
    padding-inline: 20px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;

    max-width: 70rem;
    justify-content: center;
    gap: 40px;
}

.aboutColumn {
    max-width: min(500px, 100%);
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 1rem;
}

.row {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 100%;
    align-self: center;
}

.aboutbox {
    z-index: 2;
    background-color: #eaad61;
    flex-grow: 1;
    position: relative;
    margin-bottom: 10px;

    box-sizing: border-box;

    /* padding-right: -1rem; */
    border-radius: 25px;

    outline-style: solid;
    outline-color: black;
    outline-width: 0.2rem;
}

.longaboutbox {
    z-index: 2;
    flex: 1;
    background-color: #eaad61;
    position: relative;
    margin-bottom: 10px;
    padding-left: 0.8rem;
    padding-right: 0.8rem;

    box-sizing: border-box;

    /* padding-right: -1rem; */
    border-radius: 25px;

    outline-style: solid;
    outline-color: black;
    outline-width: 0.2rem;
}



.home_info_Box h2,
.aboutbox h2,
.longaboutbox h2 {
    z-index: 3;
    padding-top: 2rem;
    color: black;
    font-family: Posten;
    font-size: 1.8rem;
}

.home_info_Box h2 {
    margin-left: 1rem;
    font-size: 2.5rem;
}

.content {
    position: relative;

    z-index: 2;

    background-color: #fcfaf8;
    border-radius: 25px;
    padding-bottom: 1rem;

    margin-top: 1rem;
    outline-style: solid;
    outline-color: black;
    outline-width: 0.2rem;
    flex: 1;
    width: 100%;
}

.content p {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-right: 2rem;
}

.logo,
.image-outside,
.image-top-left,
.image-top-center {
    position: absolute;
}

.logo {
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 404px;
    max-width: 100%;
    image-rendering: pixelated;
}

.image-outside-top-right,
.image-outside-top-right-2,
.image-outside-top-right-3 {
    top: -15%;
}

.image-outside-top-right {
    /* bodyguard */
    right: -20px;
    width: 230px;
    top: -0px;
    transform: translateY(calc(-100% + 100px));
}

.image-outside-top-right+h2 {
    font-style: 0.75em;
}

.image-outside-top-right-2 {
    /* shameful */
    left: -60px;
    z-index: 1;
    top: -136px;
    width: 500px;
}

.image-outside-top-right-4 {
    /* cop */
    right: -9% !important;
    z-index: 1;
    top: -7%;
    width: 25%;
}

.image-outside-top-right-3 {
    /* enemies */
    z-index: 4;
    right: -110px;
    width: 40%;
    top: -4%;
}

.image-top-left {
    top: 10px;
    left: 10px;
}

.image-top-center {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#faq .content p {
    padding-bottom: 0rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
}

#contact .content p {
    font-weight: bold;
    font-size: 1.4rem;
}


#box1 .content p {
    padding-bottom: 0rem;
}

#box3 .content .imgcontainer {
    padding: 1.5rem;
}

#box3 .content img {
    outline-style: solid;
    outline-color: black;
    outline-width: 0.2rem;

    width: 100%;
    image-rendering: pixelated;
}

#box3 .content p {
    padding-top: 0;
}

#box1 {
    z-index: 2;
    padding-bottom: 100px;
}

#box2 .container {
    float: left;
    width: 300px;
}

#box2 .container img {
    padding-top: 1.8rem;
    padding-left: 1rem;
}

/* CAST IMAGES */

.cast-grid {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    max-width: 70rem;
    padding-top: 1rem;
}

.flip-container {
    perspective: 1000px;
    padding: 1rem;
}

.flipper {
    padding: 5px;
    display: flex;
    width: 168px;
    height: 200px;
    outline-style: solid;
    outline-color: black;
    outline-width: 0.2rem;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.6s;
}

.flipper:hover {
    cursor: pointer;
}

.flipper.flipped {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    /* Safari */
}

.front img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.back {
    color: #fcfaf8;
    display: flex;
    justify-content: center;
    transform: rotateY(180deg);
    box-sizing: border-box;
}

.back p {
    /* position: relative; */
    padding-left: 1rem;
    padding-top: 0rem;
    padding-right: 0.8rem;
    /* top: -0.5rem; */
    line-height: 1.2rem;
    text-shadow: black 1px 0 5px;
}

.back h1 {
    padding-top: 0.5rem;
    padding-left: 1rem;
    color: #fcfaf8;
    font-size: 2rem;
    font-family: Posten;
    text-shadow: black 1px 0 10px;
}

#nate .back {
    background-image: url("./Resources/Assets/Portraits/portraitbg1.png");
}

#neil .back {
    max-width: 500px;
    background-image: url("./Resources/Assets/Portraits/portraitbg2.png");
}

#jenny .back {
    background-image: url("./Resources/Assets/Portraits/portraitbg3.png");
}

#darell .back {
    background-image: url("./Resources/Assets/Portraits/portraitbg4.png");
}

.neil {
    position: absolute;
    right: 0px;
    bottom: 0;
    width: max(200px, min(32%, 520px));
}

.footerText {
    position: absolute;
    width: 300px;
    right: max(50% - 150px, 200px);
}

@media (max-width: 1000px) {
    .aboutContainer {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 800px) {
    .neil {
        margin: none;
        width: min(400px);
        position: absolute;
        right: unset;
        top: -210px;
        max-width: 350px;
    }

    .neilContainer {
        display: contents;
    }

    .footerText {
        position: unset;
    }

    main {
        padding-block-end: 200px;
    }

    footer {
        display: flex;
        height: unset !important;
        align-items: center;
        justify-items: end;
        flex-direction: column;
    }

    .aboutColumn {
        min-width: min(90%, 400px);
        max-width: 400px !important;
    }

    .cast-grid {
        grid-template-columns: auto;
    }

    .flipper {
        padding: 5px;
        display: flex;
        outline-style: solid;
        outline-color: black;
        outline-width: 0.2rem;
        position: relative;
        transform-style: preserve-3d;
        transition: 0.6s;
    }

    .longaboutbox {
        width: 100% !important;
    }

    .image-outside-top-right {
        /* bodyguard */
        right: -10px !important;
        width: 200px;
        top: -15px;
    }

    .image-outside-top-right-2 {
        /* shameful */
        left: -40px !important;
        z-index: 1;
        top: -110px;
        width: 400px;
    }

    .image-outside-top-right-4 {
        /* cop */
        right: -100% !important;
        left: 77% !important;
        z-index: 1;
        top: -3%;
        width: 24% !important;
    }

    .image-outside-top-right-3 {
        /* enemies */
        z-index: 4;
        right: -16px !important;
        width: 34% !important;
        top: -5% !important;
    }

    .aboutbox h2,
    .longaboutbox h2 {
        z-index: 3;
        padding-top: 2rem;
        color: black;
        font-family: Posten;
        font-size: 1.3rem;
    }

    .blog.loaded {
        width: unset;
    }
}

footer {
    z-index: 3;
    outline-style: solid;
    outline-color: black;
    outline-width: 0.2rem;
    width: 100%;
    height: 200px;
    background-color: #005583;
    padding: 2rem;

    bottom: 0;
    position: relative;
}

footer .nav-link {
    color: #fcfaf8;
}

footer .nav-link:hover {
    color: #06b896;
    filter: invert(49%) sepia(96%) saturate(1157%) hue-rotate(130deg) brightness(92%) contrast(95%);
}

footer p {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0;
    padding-top: 0rem;
    color: #fcfaf8;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 720px;
    image-rendering: pixelated;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

a {
    color: #06bf96;
}




.blogItem {
    display: flex;
    flex-direction: row;
    border-bottom: 4px solid #de6e4b;
    padding-bottom: 0.5rem;

}

.blogMeta {
    color: #de6e4b;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
    font-weight: bold;
    margin-top: -0.4rem;
}

.blogNumber {
    font-size: 2.5rem;
    font-family: Posten;
}

.blogDate {
    color: #de6e4b;
    font-size: 1rem;
    margin-top: -0.3rem;
    /* font-family: Posten; */
}

.blogContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.blogTitle {
    font-size: 2rem;
    color: #de6e4b;
    font-weight: bold;
    font-family: Posten;
}

.blogTitle a {
    text-decoration: none;
    color: #de6e4b;
}

.blogText {
    font-size: 1rem;

}

.main_blogText {
    font-size: 1.2rem;

}

.main_blogText img{
    width: 80%;
}

.main_blogText figcaption{
    width: 80%;
    color: #bbb;
}

.figure-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.figure-container > * {
    flex: 0 1 calc(25% - 0.75rem);
}

.big-figure-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.big-figure-container > * {
    flex: 0 1 calc(50% - 0.75rem);
}

.figure-container figure {
    margin: 0;
}

.figure-container img {
    width: 100%;
    height: auto;
}

.blog.loaded {
    visibility: visible;
    transition: visibility 0s linear 0s;
    animation:
        nothing,
        fadeInAnimation 0.5s;
    animation-delay: 0s, 0s;
}

.blog {
    visibility: hidden;
    /* animation:
        nothing,
        fadeInAnimation 0.5s;
    animation-delay: 0s, 0s; */
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: #fcfaf8;


    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

    outline-style: solid;
    outline-color: black;
    outline-width: 0.2rem;
}

.blog-image {
    width: 100%;
    
    border: 0.2rem solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 1rem;
    background-position: center;
    background-image: url("./Resources/Assets/Blog/header_background.png");
}

.blog-image img {
    max-height: 100%;
    width: 100%;
    align-self: flex-end;
    object-fit: contain;
}

.btn-warning {
  background-color: #eaad61;
}
